In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('reviews.csv')

In [5]:
data.head()

   Unnamed: 0                                               text sentiment
0           0  bromwell high is a cartoon comedy. it ran at t...  Positive
1           1  homelessness (or houselessness as george carli...  Positive
2           2  brilliant over-acting by lesley ann warren. be...  Positive
3           3  this is easily the most underrated film inn th...  Positive
4           4  this is not the typical mel brooks film. it wa...  Positive

In [6]:
data.sentiment.value_counts()

Neutral     49965
Negative    12495
Positive    12489
Name: sentiment, dtype: int64

In [7]:
import re

TAG_RE = re.compile(r'<[^>]+>')
def remove_tags(text):
    return TAG_RE.sub('', text)

In [8]:
for i in range(0,data.shape[0]):
    a = data.text[i]
    a = a.replace("\n","")
  
    data.text[i] = remove_tags(a)

c:\users\sanketh\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
data.head()

   Unnamed: 0                                               text sentiment
0           0  bromwell high is a cartoon comedy. it ran at t...  Positive
1           1  homelessness (or houselessness as george carli...  Positive
2           2  brilliant over-acting by lesley ann warren. be...  Positive
3           3  this is easily the most underrated film inn th...  Positive
4           4  this is not the typical mel brooks film. it wa...  Positive

In [10]:
neutral = data[data.sentiment == "Neutral"]

In [11]:
neutral.shape

(49965, 3)

In [12]:
neutral = neutral.sample(25000)

In [13]:
neutral.head()

       Unnamed: 0                                               text sentiment
35440       35440  "the hunter" appeared in theaters in the summe...   Neutral
48485       48485  can someone please tell me what the "heck" thi...   Neutral
51953       51953  tsotsi is nothing compared to jerusalema. fina...   Neutral
32071       32071  while i watched "bleeder", i came to think of ...   Neutral
72558       72558  varalaru is a great movie, and lot of hard wor...   Neutral

In [14]:
neutral.shape

(25000, 3)

In [15]:
posneg = data[data.sentiment != "Neutral"]

In [16]:
posneg.shape

(24984, 3)

In [17]:
req_data = pd.concat([posneg,neutral],axis=0)

In [18]:
req_data.shape

(49984, 3)

In [19]:
req_data.head()

   Unnamed: 0                                               text sentiment
0           0  bromwell high is a cartoon comedy. it ran at t...  Positive
1           1  homelessness (or houselessness as george carli...  Positive
2           2  brilliant over-acting by lesley ann warren. be...  Positive
3           3  this is easily the most underrated film inn th...  Positive
4           4  this is not the typical mel brooks film. it wa...  Positive

In [20]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sanketh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sanketh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [23]:
req_data.shape

(49984, 3)

In [24]:
def normalization(text):
    sentences = nltk.sent_tokenize(text)
    lemmatizer = WordNetLemmatizer()
    req = ""
    # Lemmatization
    for i in range(len(sentences)):
        words = nltk.word_tokenize(sentences[i])
        words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
        sentences[i] = ' '.join(words) 
        corrected = str(sentences[i])
        corrected = re.sub(r'([!?,;])\1+', r'\1', corrected)
        corrected = re.sub(r'\.{2,}', r'...', corrected)
        corrected = re.sub(r"//t",r"\t", corrected)
        corrected = re.sub(r"( )\1+",r"\1", corrected)
        corrected = re.sub(r"(\n)\1+",r"\1", corrected)
        corrected = re.sub(r"(\')\1+",r"\1", corrected)
        corrected = re.sub(r"(\r)\1+",r"\1", corrected)
        corrected = re.sub(r"(\t)\1+",r"\1", corrected)
        req = req+corrected
    return req

In [25]:
req_data.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            57000, 64739, 48236, 69829, 64942, 62946, 70933, 26937, 58382,
            65005],
           dtype='int64', length=49984)

In [26]:
for i in req_data.index:
    a = req_data.text[i]
    req_data.text[i] = normalization(a)

c:\users\sanketh\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
from sklearn.model_selection import train_test_split 
train , test = train_test_split(req_data,test_size=0.2,random_state=42)

In [46]:
train.to_csv('train1.csv')

In [47]:
test.to_csv('test1.csv')

In [43]:
train.drop(['Unnamed: 0'],axis=1,inplace=True)

c:\users\sanketh\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [45]:
test.drop(['Unnamed: 0'],axis=1,inplace=True)

c:\users\sanketh\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [44]:
train.head()

                                                    text sentiment
74049  sat tonight watched film , full week re-watchi...   Neutral
59282  man , late 1960 's sure produce whole mess jam...   Neutral
18115  bad acting .bad story line .bad character .nev...  Negative
30056  quiet american one greatest greene book , comi...   Neutral
12169  series premiered cable tv station `` comedy ce...  Positive